@model IEnumerable<Fixture>
@{
  ViewData["Title"] = "Livescores";
}

<div class="container">
	<h1 class="display-4 text-center">Livescores</h1>

	@if (Model.Select(x => x.Date.Date).Distinct().Count() > 1)
	{
		<div class="row">
				<div class="col-12 date-list">
						<div class="btn-group btn-group-justified">
								@foreach (var date in Model.Select(x => x.Date.Date).Distinct())
								{
									<a href="#" class="btn btn-default date-picker" data-id="@date.Date" id="@(date.Date == DateTime.Now.Date ? "today-id" : "")">@(date == DateTime.Now.Date ? "Today" : date.ToString("d MMM"))</a>
								}
						</div>
				</div>
		</div>
	}

	<div class="row">
		@foreach (var fixture in Model)
		{
			<div class="col-6 fixture-card" data-id="@fixture.Date.Date">
				<div class="card">				
					<div class="card-header text-center">
						@fixture.HomeTeam <strong>@fixture.HomeScore</strong> 
						v	
						@fixture.AwayTeam <strong>@fixture.AwayScore</strong>
					</div>
					<ul class="col-6 list-group list-group-flush scorer-list">
						@foreach (var goal in fixture.Goals.Where(x => x.For == fixture.HomeTeam))
						{
							<li class="list-group-item">
								@goal.Scorer 
								@if(goal.OwnGoal)
								{
									@: (og) 
								}
								(@goal.Minute)
							</li>								
						}
					</ul>
					<ul class="list-group list-group-flush scorer-list">
						@foreach (var goal in fixture.Goals.Where(x => x.For == fixture.AwayTeam))
						{
							<li class="list-group-item">
								@goal.Scorer 
								@if(goal.OwnGoal)
								{
									@: (og) 
								}
								(@goal.Minute)
							</li>								
						}
					</ul>
				</div>		
			</div>			
		}
	</div>
</div>
